.profile__info {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 0 0 30px;
    align-self: center;
    max-width: 732px;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .profile__info {
        margin: 0;
    }
}