.popup__close-button-form {
    position: fixed;
    top: calc(50% - 195px);
    left: calc(50% + 205px);
    background: none;
    border: none;
    display: flex;
    padding: 0;
}
.popup__close-button:hover {    
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
    .popup__close-button {
        top: calc(50% - 265px);
        left: calc(50% + 115px);
    }
}