.footer__copyright {    
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    font-weight: normal;
}
@media screen and (min-width:320px) and (max-width:1023px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}