.popup-img__container {
    margin: 82px auto auto;
    padding: 0;
    position: relative;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
    .popup-img__container {
        margin: 136px auto auto;        
    }
}