.profile__avatar-image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .profile__avatar-image {
        margin: 0 auto;
    }
}
