.typo_size_l {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .typo_size_l {
        font-size: 14px;
        line-height: 17px;
    }
}