.footer {
    display: flex;
    padding-top: 69px;
    background-color: black;
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .footer {
        padding-top: 48px;
    }
}