.popup__form {    
    margin: 34px auto 0 36px;
    max-width: 358px;
    width: 83.25%;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
    .popup__form {
        margin: 30px auto 0;
    }
}