.header {
    padding: 45px 0 33px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .header {
        max-width: 320px;
        padding: 28px 0 24px;
        width: 100%;
    }
}